body {background-color: whitesmoke; margin: 0;}
.lista {background-color: #ada9ad;}
/*.profil, .krava, .prace, .fotografka {background-color: #deb3ad;}*/
.popis, .work, .spesl {background-color: #f1f1f0;}
.skola, .schopnosti {background-color: #a98ab0;}
footer {background-color: #383940;}

li, p, footer {
    font-family: "Playfair Display", sans-serif;
    line-height: 1.7;
}

h1{
    font-family: "Bungee Hairline", sans-serif;
    font-size: 60px;
    text-align: left;
    color: #25232b;
    text-shadow: 0 3px 10px #363636;
    margin: 0;
    padding: 0 0 0 25px;
}

h2{
    font-size: 26px;
    margin: 0;
    padding: 0 0 0 20px;
}



section {
    padding: 15px 40px;
    overflow: auto;
}

.zahlavi {
    background-image: url(images/main1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 200px 30px;
}

.profil img{
    float: right;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 15px 15px 15px;
}

.krava img{
    float: left;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0 15px 15px;
}

.espanol img{
    float: right;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 15px 15px 15px;
}

.duch img{
    float: left;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0 15px 15px;
}


/* horní lišta */
.lista li {
    display: inline-block;
    padding: 0px 30px;
    font-family: "Bungee Hairline", sans-serif;
    color: #25232b;
    text-shadow: 0 1px 15px #363636;
    border: 1px solid #a98ab0;
}

.lista a:hover{
    color: antiquewhite;
}

.lista a:focus{
    color: antiquewhite;
    border: none;
    text-decoration: none;
}

/* odkazy */

a {
    text-decoration: none;
}
.work a:hover{
    color: rgb(221, 131, 12);
}

.work a:focus{
    color: rgb(221, 131, 12);
    border: none;
    text-decoration: none;
}

/* fotogalerie */

.fotogalerie img{
    width: 250px;
    border: 2px solid #949396;
    border-radius: 10px;
}



