body {background-color: whitesmoke; margin: 0;}
.lista {background-color: #ada9ad;}
/*.profil, .krava, .prace, .fotografka {background-color: #deb3ad;}*/
.popis, .prace, .bonus {background-color: #f1f1f0;}
.skola, .schopnosti {background-color: #a98ab0;}
footer {background-color: #383940;}

ul, p, footer {
    font-family: "Playfair Display", sans-serif;
    line-height: 1.7;
}

h1{
    font-family: "Bungee Hairline", sans-serif;
    font-size: 60px;
    text-align: left;
    color: #25232b;
    text-shadow: 0 3px 10px #363636;
    margin: 0;
    padding: 0 0 0 25px;
}

h2{
    font-size: 26px;
}

header, section, footer {max-width: 800px;}

section {
    padding: 20px 40px;
    overflow: auto;
}

.zahlavi {
    background-image: url(images/main1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    padding: 250px 30px;
}

.profil img{
    float: right;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 15px 15px 15px;
}

.krava img{
    float: left;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0 15px 15px;
}

.espanol img{
    float: right;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 15px 15px 15px;
}

.duch img{
    float: left;
    width: 350px;
    border-color: #949396;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0 15px 15px;
}

li {
    display: inline-block;
    background-color: #474447;
   }

.linka li{color: #080808;text-decoration: none; padding: 5px 30px;}



   a:hover {
    background-color: #a98ab0;
   }

.fotogalerie img{
    width: 250px;
    border: 2px solid #949396;
    border-radius: 10px;
}



