body {background-color: rgb(43, 42, 42); margin: 0;}
.lista {background-color: #ada9ad;}
.popis, .work, .spesl {background-color: #f1f1f0;}
.skola, .schopnosti {background-color: #e9b7c4;}
footer {background-color: rgb(43, 42, 42);}

/* Písmo */
li, p, footer {
    font-family: "Playfair Display", sans-serif;
    line-height: 1.7;
}

h1{
    font-family: "Bungee Hairline", sans-serif;
    color: #25232b;
    text-shadow: 0 3px 10px #363636;
    margin: 0;
    font-size: 50px;
    padding: 0 0 30px 25px;
}

h2{
    font-family: "Bungee Hairline", sans-serif;
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 20px 0;
    text-align: center;
}

/* Boxy */


.zahlavi {
    background-image: url(images/main1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 150px 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section {
    overflow: auto;
    padding: 30px 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.lista{
    padding: 5px 40px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fotogalerie{
    text-align: center;
}



/* Fotky */

img { 
    width: 300px;
    margin: 20px;
}

.profil img{
    float: right;
    border-radius: 0 15px 15px 15px;
}

.krava img{
    float: left;
    border-radius: 20px 0 20px 20px;
}

.espanol img{
    float: right;
    border-radius: 0 15px 15px 15px;
}

.duch img{
    float: left;
    border-radius: 15px 0 15px 15px;
}


/* horní lišta */

ul{
    list-style: none;
}

.lista li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 20px;
    font-family: "Bungee Hairline", sans-serif;
    color: #03000a;
    font-weight: 800;
    text-shadow: 0 1px 15px #b4b3b3;
    border: 1px solid #a98ab0;
}

.lista a:hover{
    color: antiquewhite;
}

.lista a:focus{
    color: antiquewhite;
    border: none;
    text-decoration: none;
}


/* odkazy */

a {
    text-decoration: none;
}

.work a {color: #a67caf;

}
.work a:hover{
    color: #4b1faf;
}

.work a:focus{
    color: #4b1faf;
    border: none;
    text-decoration: none;
}



/* fotogalerie */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: center;
}

.fotogalerie img{
  
    border: 1px solid #949396;
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin: 0;
}

.fotogalerie{
    padding: 10px 15px;
}

/* patička */

.paticka{
    font-size: 18px;
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
